/**
  topbar style
*/
@import '../libs/_colors.scss';

* {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

@media (min-width: 641px) and (max-width: 767px) {
  #security-topbar-holder {
    height: 85px;
    border-bottom: 3px $account-auth-border-color solid;
  }

  #security-topbar-content {
    padding: 25px 20px 0px 20px;
  }

  ul li {
    display: inline;

    h6 {
      display: inline;
      color: $security-lvl-span-font-color;
      font-size: 30px;
      font-weight: bold;
    }

    &:nth-child(2) {
      padding-left: 180px;
    }

    &:nth-child(3) {
      padding-left: 83px;
    }

    &:nth-child(4) {
      padding-left: 28px;
    }
  }
}

@media (min-width: 360px) and (max-width: 640px) {
  #security-topbar-holder {
    height: 85px;
    border-bottom: 3px $account-auth-border-color solid;
  }

  #security-topbar-content {
    padding: 25px 20px 0px 20px;
  }

  ul li {
    display: inline;

    h6 {
      font-size: 30px;
      display: inline;
      color: $security-lvl-span-font-color;
      font-size: 30px;
      font-weight: bold;
    }

    &:nth-child(2) {
      padding-left: 180px;
    }

    &:nth-child(3) {
      padding-left: 83px;
    }

    &:nth-child(4) {
      padding-left: 28px;
    }
  }
}

.debugger {
  border: 1px solid red;
}