/**
  topbar style
*/
@import '../libs/_colors.scss';

* {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
#security-topbar-holder {
  height: 85px;
  border-bottom: 3px $account-auth-border-color solid;
}

#security-topbar-content {
  padding: 25px 20px 0px 20px;
}

ul {
  display: inline-block;
  width: 100%;
  li {
    display: inline-block;
    width: 10%;
    h6 {
      color: $security-lvl-span-font-color;
      font-size: 30px;
      font-weight: bold;
    }

    &:nth-child(2) {
      width: 67%;
      text-align: center;
    }

    &:nth-child(3) {
      width: 10%;
      text-align: right;
    }

    &:nth-child(4) {
      width: 10%;
      text-align: right;
    }
  }
} 

@media (min-width: 640px) and (max-width: 767px) {
  #security-topbar-holder {
    height: 85px;
    border-bottom: 3px $account-auth-border-color solid;
  }

  #security-topbar-content {
    padding: 25px 20px 0px 20px;
  }

  ul {
    display: inline-block;
    width: 100%;
    li {
      display: inline-block;
      width: 10%;
      h6 {
        color: $security-lvl-span-font-color;
        font-size: 30px;
        font-weight: bold;
      }
  
      &:nth-child(2) {
        width: 67%;
        text-align: center;
      }
  
      &:nth-child(3) {
        width: 10%;
        text-align: right;
      }
  
      &:nth-child(4) {
        width: 10%;
        text-align: right;
      }
    }
  }
}

@media (min-width: 540px) and (max-width: 639px) {
  #security-topbar-holder {
    height: 85px;
    border-bottom: 3px $account-auth-border-color solid;
  }

  #security-topbar-content {
    padding: 25px 20px 0px 20px;
  }

  ul {
    display: inline-block;
    width: 100%;
    li {
      display: inline-block;
      width: 10%;
      h6 {
        color: $security-lvl-span-font-color;
        font-size: 30px;
        font-weight: bold;
      }
  
      &:nth-child(2) {
        width: 66%;
        text-align: center;
      }
  
      &:nth-child(3) {
        width: 10%;
        text-align: right;
      }
  
      &:nth-child(4) {
        width: 10%;
        text-align: right;
      }
    }
  }
}

@media (min-width: 414px) and (max-width: 539px) {
  #security-topbar-holder {
    height: 85px;
    border-bottom: 3px $account-auth-border-color solid;
  }

  #security-topbar-content {
    padding: 25px 20px 0px 20px;
  }

  ul {
    display: inline-block;
    width: 100%;
    li {
      display: inline-block;
      width: 10%;
      h6 {
        color: $security-lvl-span-font-color;
        font-size: 30px;
        font-weight: bold;
      }
  
      &:nth-child(2) {
        width: 65%;
        text-align: center;
      }
  
      &:nth-child(3) {
        width: 10%;
        text-align: right;
      }
  
      &:nth-child(4) {
        width: 10%;
        text-align: right;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 413px) {
  #security-topbar-holder {
    height: 85px;
    border-bottom: 3px $account-auth-border-color solid;
  }

  #security-topbar-content {
    padding: 25px 20px 0px 20px;
  }

  ul {
    display: inline-block;
    width: 100%;
    li {
      display: inline-block;
      width: 10%;
      h6 {
        color: $security-lvl-span-font-color;
        font-size: 24px;
        font-weight: bold;
      }
      img {
        width: 24px;
        height: 24px;
      }
  
      &:nth-child(2) {
        width: 63%;
        text-align: center;
      }
  
      &:nth-child(3) {
        width: 10%;
        text-align: right;
      }
  
      &:nth-child(4) {
        width: 10%;
        text-align: right;
      }
    }
  }
}

.debugger {
  border: 1px solid red;
}