/**
  app style
*/
@import './libs/_colors.scss';
@import './libs/_fonts.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'Malgun Gothic';
}

#app {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.debugger {
  border: 1px solid red;
}