/*
  investment balance stylesheet
*/
@import '../libs/_colors.scss';

.app-balance {
  width: 100%;
  height: 100%;
}
.menu-handler {
  display: flex;
  .menus {
    float: left;
    padding: 12px 0;
    width: 33.333%;
    text-align: center;
    font-size : 23px;
    border-bottom: 2px solid $fee-tab-inactive-color;
    a {
      color: $thead-black-font-color;      
    }
    a:hover {
      text-decoration: none;
    }
  }
  .active {
    color: $fee-head-font-color;
    border-bottom: 2px solid $fee-tab-active-color;
    a {
      color: $fee-head-font-color;
    }
  }
}

.b-head-handler {
  background-color: $balance-head-bg-color;
  .b-head-up {
    padding: 25.5px 20px;
    display: flex;
    font-size: 24px;
    .bhu-l {
      float: left;
      width: 50%;
      font-weight: 600;
    }
    .bhu-r {
      text-align: right;
      float: left;
      width: 50%;
      color: $bheadright-font-color;
      img {
        margin-top: -7px;
        width: 28px;
      }
    }
  }
  .b-head-middle {
    text-align: center;
    ul {
      padding-bottom: 0;
      li {
        font-size: 19px;
        display: inline-block;
        border-right: 2px solid $fee-table-color;
        width: 47.5%;
        text-align: left;
      }
      .numbered {
        font-size: 33px;
      }
      .li-left {
        position: relative;
        padding-left: 20px;
      }
      .li-right {
        position: relative;
        padding-left: 22px;
      }
      li:last-child {
        border-right: none;
      }
    }
  }
  .b-head-lower {
    display: inline-block;
    width: 100%;
    padding: 7px 0 8px 0;
    .bhl-holder {
      padding: 0 20px;
      font-size: 19px;
      .bhl-l {
        float: left;
        width: 50%;
        text-align: center;
        ul {
          li {
            display: inline-block;
            text-align: left;
            width: 48.5%;
          }
          li:last-child {
            text-align: right;
            padding-right: 20px;
          }
        }
      }
      .bhl-r {
        float: left;
        width: 50%;
        ul {
          li {
            display: inline-block;
            text-align: left;
            width: 48.5%;
            padding-left: 20px;
          }
          li:last-child {
            text-align: right;
            color: $balance-font-blue-color;
          }
        }
      }
    }
  }
}

.b-body-container {
  .b-body {    
    padding: 0 20px;
    border-bottom: 2px solid $fee-table-color;
    .b-body-up {
      display: flex;
      border-bottom: 2px solid $fee-table-color;
      padding: 16.5px 0;
      font-size: 22px;
      .bb-up-l {
        float: left;
        width: 50%;
        color: $the-coin-font-color;
        p {
          padding: 0;
          margin: 0;
          font-weight: 600;
        }
        p:last-child {
          font-weight: 800;
        }
      }
      .bb-up-r {
        padding-left: 20px;        
        display: inline-block;
        width: 50%;
        .to-left {
          float: left;
          width: 50%;
          text-align: left;
        }
        .to-right {
          float: left;
          width: 50%;
          text-align: right;
          color: $balance-font-blue-color;
        }
      }
    }
  }
  .b-body-down-container {
    padding: 3px 0 23px 0;
    .b-body-down {    
      display: flex;
      padding-top: 19px;
      .bbd-l {
        float: left;
        width: 50%;
        padding-right: 20px;
        p {
          text-align: right;
          padding-top: 2px;
          margin: 0;
          span {
            font-weight: 800;
          }
        }
        .p-top {
          font-size: 21px;
        }
        .r-down {
          font-size: 19px;
          color: $bheadright-font-color;
        }
      }
    }
  }
}

.b-footer-container {
  padding: 17px 20px 24px 20px;
  color: $bheadright-font-color;
  p {
    margin: 0;
  }
  img {
    width: 24px;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .menu-handler {
    display: flex;
    .menus {
      float: left;
      padding: 12px 0;
      width: 33.333%;
      text-align: center;
      font-size : 23px;
      border-bottom: 2px solid $fee-tab-inactive-color;
      a {
        color: $thead-black-font-color;      
      }
      a:hover {
        text-decoration: none;
      }
    }
    .active {
      color: $fee-head-font-color;
      border-bottom: 2px solid $fee-tab-active-color;
      a {
        color: $fee-head-font-color;
      }
    }
  }
  
  .b-head-handler {
    background-color: $balance-head-bg-color;
    .b-head-up {
      padding: 25.5px 20px;
      display: flex;
      font-size: 24px;
      .bhu-l {
        float: left;
        width: 50%;
        font-weight: 600;
      }
      .bhu-r {
        text-align: right;
        float: left;
        width: 50%;
        color: $bheadright-font-color;
        img {
          margin-top: -7px;
        }
      }
    }
    .b-head-middle {
      text-align: center;
      ul {
        padding-bottom: 0;
        li {
          font-size: 19px;
          display: inline-block;
          border-right: 2px solid $fee-table-color;
          width: 47.5%;
          text-align: left;
        }
        .numbered {
          font-size: 33px;
        }
        .li-left {
          position: relative;
          padding-left: 20px;
        }
        .li-right {
          position: relative;
          padding-left: 22px;
        }
        li:last-child {
          border-right: none;
        }
      }
    }
    .b-head-lower {
      display: inline-block;
      width: 100%;
      padding: 7px 0 8px 0;
      .bhl-holder {
        padding: 0 20px;
        font-size: 19px;
        .bhl-l {
          float: left;
          width: 50%;
          text-align: center;
          ul {
            li {
              display: inline-block;
              text-align: left;
              width: 48.5%;
            }
            li:last-child {
              text-align: right;
              padding-right: 20px;
            }
          }
        }
        .bhl-r {
          float: left;
          width: 50%;
          ul {
            li {
              display: inline-block;
              text-align: left;
              width: 48.5%;
              padding-left: 20px;
            }
            li:last-child {
              text-align: right;
              color: $balance-font-blue-color;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 560px) and (max-width: 639px) {
  .b-head-middle {
    ul {
      li {
        font-size: 19px;
        display: inline-block;
        width: 47.5%;
      }
      li:last-child {
        border-right: none;
      }
    }
  }
}

.debugger {
  border: 1px solid red;
}