/*
  login stylesheet
*/
@import '../libs/_colors.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'Malgun Gothic' !important;
}

#login-header-bottom-border {
  border: 2px solid $extra-border-green-color;
}

@media (min-width: 641px) and (max-width: 767px) {
  #login-container {
    padding: 0px 20px 0px 20px;
  }

  #login-title-row {
    height: 128px;

    #login-title {
      color: $login-title-color;
      font-size: 28px;
      padding: 55px 0px 55px 0px;
    }
  }

  #login-fields-row {
    input {
      height: 70px;
      border-radius: 0px;
    }

    #login-email-field, #login-password-field {
      font-size: 20px;

      &::placeholder {
        padding-left: 26px;
        color: $login-field-placeholder-color;
      }
    }

    #login-password-field {
      margin-top: 25px;
    }
  }

  #login-button {
    width: 604px;
    height: 70px;
    color: $login-button-text-color;
    font-size: 22.5px;
    border-radius: 0px;
    margin-top: 45px;
    background-color: $login-button-background-color;
  }

  #login-links-row {
    margin-top: 45px;
  }

  #login-link-1, #login-link-2 {
    color: $login-link-color;
    font-size: 22px;
  }

  #login-link-line {
    font-size: 22px;
    color: $login-link-line-color;
    padding: 0px 42px 0px 42px;
  }
}

@media (min-width: 360px) and (max-width: 640px) {
  #login-container {
    padding: 0px 20px 0px 20px;
  }

  #login-title-row {
    height: 128px;

    #login-title {
      color: $login-title-color;
      font-size: 28px;
      padding: 55px 0px 55px 0px;
    }
  }

  #login-fields-row {
    input {
      height: 70px;
      border-radius: 0px;
    }

    #login-email-field, #login-password-field {
      font-size: 20px;

      &::placeholder {
        padding-left: 26px;
        color: $login-field-placeholder-color;
      }
    }

    #login-password-field {
      margin-top: 25px;
    }
  }

  #login-button {
    width: 604px;
    height: 70px;
    color: $login-button-text-color;
    font-size: 22.5px;
    border-radius: 0px;
    margin-top: 45px;
    background-color: $login-button-background-color;
  }

  #login-links-row {
    margin-top: 45px;
  }

  #login-link-1, #login-link-2 {
    color: $login-link-color;
    font-size: 22px;
  }

  #login-link-line {
    font-size: 22px;
    color: $login-link-line-color;
    padding: 0px 42px 0px 42px;
  }
}

.debugger {
  border: 1px solid red;
}