/*
  form stylesheet
*/
@import '../libs/_colors.scss';

@media (min-width: 640px) and (max-width: 767px) {
  .app-signup-passwordform {
    padding: 0px 20px 40px 20px;
  }

  #signup-passwordform-row {
    margin-top: 58px;
  }

  #signup-passwordform-title {
    color: $signup-passwordform-title-color;
    font-size: 28px;
  }

  #signup-password-field {
    margin-top: 45px;

    &::placeholder {
      color: $signup-field-placeholder-color;
    }
  }

  #signup-confirmpassword-field {
    margin-top: 23px;
  }

  .signup-pfield {
    width: 100%;
    height: 70px;
    font-size: 20px;
    border-radius: 0px;

    &::placeholder {
      color: $signup-field-placeholder-color;
    }
  }

  #signup-passwordform-agreement-title {
    margin-top: 56px;
    font-size: 25px;
  }

  #signup-passwordform-agreement-paragprah {
    font-size: 20px;
    margin-top: 25px;
  }

  .signup-passwordform-agrbox-label {
    font-size: 20px;
  }

  .signup-passwordform-agrbox {
    top: 5px;
    right: 20px;
    width: 1.3em;
    height: 1.3em;
    background-color: $signup-passwordform-agrbox-unselected;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;

    &:checked {
      background-image: url('~img/checked24x24.png');
      background-position: center;
      background-color: $signup-passwordform-agrbox-selected;
      background-repeat: no-repeat;
    }
  }

  #signup-passwordform-button {
    color: $signup-passwordform-button-text-color;
    margin-top: 40px;
    width: 100%;
    height: 70px;
    font-size: 22.5px;
    border-radius: 0px;
    background-color: $signup-passwordform-button-background-color;
  }

  #signup-passwordform-divider {
    padding: 30px 0px 25px 0px;
  }
}

@media (min-width: 414px) and (max-width: 639px) {
  .app-signup-passwordform {
    padding: 0px 20px 40px 20px;
  }

  #signup-passwordform-row {
    margin-top: 58px;
  }

  #signup-passwordform-title {
    color: $signup-passwordform-title-color;
    font-size: 28px;
  }

  #signup-password-field {
    margin-top: 45px;

    &::placeholder {
      color: $signup-field-placeholder-color;
    }
  }

  #signup-confirmpassword-field {
    margin-top: 23px;
  }

  .signup-pfield {
    width: 100%;
    height: 70px;
    font-size: 20px;
    border-radius: 0px;

    &::placeholder {
      color: $signup-field-placeholder-color;
    }
  }

  #signup-passwordform-agreement-title {
    margin-top: 56px;
    font-size: 25px;
  }

  #signup-passwordform-agreement-paragprah {
    font-size: 20px;
    margin-top: 25px;
  }

  .signup-passwordform-agrbox-label {
    font-size: 20px;
  }

  .signup-passwordform-agrbox {
    top: 5px;
    right: 20px;
    width: 1.3em;
    height: 1.3em;
    background-color: $signup-passwordform-agrbox-unselected;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;

    &:checked {
      background-image: url('~img/checked24x24.png');
      background-position: center;
      background-color: $signup-passwordform-agrbox-selected;
      background-repeat: no-repeat;
    }
  }

  #signup-passwordform-button {
    color: $signup-passwordform-button-text-color;
    margin-top: 40px;
    width: 100%;
    height: 70px;
    font-size: 22.5px;
    border-radius: 0px;
    background-color: $signup-passwordform-button-background-color;
  }

  #signup-passwordform-divider {
    padding: 30px 0px 25px 0px;
  }
}

@media (min-width: 320px) and (max-width: 413px) {
  .app-signup-passwordform {
    padding: 0px 20px 40px 20px;
  }

  #signup-passwordform-row {
    margin-top: 58px;
  }

  #signup-passwordform-title {
    color: $signup-passwordform-title-color;
    font-size: 25px;
  }

  #signup-password-field {
    margin-top: 45px;

    &::placeholder {
      color: $signup-field-placeholder-color;
    }
  }

  #signup-confirmpassword-field {
    margin-top: 23px;
  }

  .signup-pfield {
    width: 100%;
    height: 70px;
    font-size: 17px;
    border-radius: 0px;

    &::placeholder {
      color: $signup-field-placeholder-color;
    }
  }

  #signup-passwordform-agreement-title {
    margin-top: 56px;
    font-size: 22px;
  }

  #signup-passwordform-agreement-paragprah {
    font-size: 17px;
    margin-top: 25px;
  }

  .signup-passwordform-agrbox-label {
    font-size: 17px;
  }

  .signup-passwordform-agrbox {
    top: 5px;
    right: 20px;
    width: 1.3em;
    height: 1.3em;
    background-color: $signup-passwordform-agrbox-unselected;
    border-radius: 50%;
    vertical-align: middle;
    // border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;

    &:checked {
      background-image: url('~img/checked24x24.png');
      background-position: center;
      background-color: $signup-passwordform-agrbox-selected;
      background-repeat: no-repeat;
    }
  }

  #signup-passwordform-button {
    color: $signup-passwordform-button-text-color;
    margin-top: 40px;
    width: 100%;
    height: 70px;
    font-size: 19.5px;
    border-radius: 0px;
    background-color: $signup-passwordform-button-background-color;
  }

  #signup-passwordform-divider {
    padding: 30px 0px 25px 0px;
  }
}

.debugger {
  border: 1px solid red;
}