/**
  footer style
*/
@import '../libs/_colors.scss';

.app-header {
  background-color: $header-background-color;
  padding: 35px 20px 79px 20px;
  display: inline-box;
}

.logo {  
  float: left;
}

.group-header {
  float: right;
  color: #afafaf;
  a {
    color: #afafaf;
  }
}

.text-left {
  text-align: left;
}

.border-line {
  border: 1px solid #ff0000
}

@media (min-width: 641px) and (max-width: 767px) {
  .app-header {

    .logo img {
      width: 97px;
      height: 40px;
    }
      
    .inline {
      font-size: 16.5px;
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        float: left;
        .menu {
          color: $header-menu-color;
          font-size: 30px;
        }
      }
      
      li a {
        display: block;
        text-align: center;
        padding: 10px;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 360px) and (max-width: 640px) {
  .app-header {
    font-size: 10px;

    .logo img {
      width: 75%;
    }

    .inline {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        float: left;
        .menu {
          color: $header-menu-color;
          font-size: 20px;
        }
      }
      
      li a {
        display: block;
        text-align: center;
        padding: 2px;
        text-decoration: none;
      }
    }
  }
}

.debugger {
  border: 1px solid red;
}