/**
  header style
*/
@import '../libs/_colors.scss';

.app-header {
  background-color: $header-background-color;
}

.logo {  
  float: left;
}

.group-header {
  color: $header-link-color;
  a {
    color: $header-link-color;
  }
}

.dropdown-toggle::after {
    display: none;
}

@media (min-width: 641px) and (max-width: 767px) {
  .app-header {
    width: auto;
    height: 85px;
    margin: 0px 20px 0px 20px;

    #header-row {
      padding-top: 25px;
    }

    .logo {
      padding-right: 160px;
    }

    .group-header {
      margin-top: 10px;
      
      a {
        font-size: 16.5px;
      }

      li:nth-child(1) {
        padding-right: 31px;
      }

      li:nth-child(2) {
        padding-right: 30px;
      }

      li:nth-child(3) {
        padding-right: 25px;
      }
    }

    .menu img {
      width: 26px;
      height: 23px;
    }
  }
}

@media (min-width: 360px) and (max-width: 640px) {
  .app-header {
    width: auto;
    height: 85px;
    margin: 0px 20px 0px 20px;

    #header-row {
      padding-top: 25px;
    }

    .logo {
      padding-right: 160px;
    }

    .group-header {
      margin-top: 10px;
      
      a {
        font-size: 16.5px;
      }

      li:nth-child(1) {
        padding-right: 31px;
      }

      li:nth-child(2) {
        padding-right: 30px;
      }

      li:nth-child(3) {
        padding-right: 25px;
      }
    }

    .menu img {
      width: 26px;
      height: 23px;
    }
  }
}

.debugger {
  border: 1px solid red;
}