/*
  deposit walletaddress stylesheet
*/
@import '../libs/_colors.scss';
@import './base.scss';

.app-withdrawal {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.generic-title {
  text-align: left;
  padding-left: 10px;
}

.w-header-holder {
  padding: 12px 20px 0 20px;
  font-size: 26px;
  .w-head-up {
    width: 100%;
    display: flex;
    padding-top: 10px;
    .w-head-left {
      width: 30%;
    }
    .w-head-right {
      display: block;
      position: relative;
      width: 70%;
      text-align: right;
      padding: 0;
      span {
        font-weight: 600;
      }
      label {
        margin-left: 10px;
      }
      label:last-child {
        margin-right: 0;
      }
      .option-input {
        top: 5px;
        right: 20px;
        width: 1.3em;
        height: 1.3em;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid $radio-button-border-color;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
      }      
      .option-input:checked {
        background-image: url('~img/checked32x32.png');
        background-position: center;
        background-repeat: no-repeat;
        border: 2px solid $radio-button-color;
      }
    }
    img {
      vertical-align: middle;
      width: 26px;
      margin-top: -0.2em;
    }
  }
}

@media (min-width: 641px) and (max-width: 767px) {
  
}

@media (min-width: 360px) and (max-width: 640px) {
  
}

.debugger {
  border: 1px solid red;
}
