/*
  trading stylesheet
*/
@import '../libs/_colors.scss';

@media (min-width: 641px) and (max-width: 767px) {
  #trading-upper-div {
    background-color: #fff;
  }

  #trading-lower-div {
    margin-top: 48%;
  }
}

@media (min-width: 360px) and (max-width: 640px) {
  #trading-upper-div {
    background-color: #fff;
  }

  #trading-lower-div {
    margin-top: 48%;
  }
}

.debugger {
  border: 1px solid red;
}