/*
  coin info stylesheet
*/
@import '../libs/_colors.scss';

.rt {
  color: $trading-coininfo-text-5-color;
}

.bt {
  color: $trading-coininfo-text-7-color;
}

@media (min-width: 641px) and (max-width: 767px) {
  #app-trading-coininfo-holder {
    height: 105px;
    margin-bottom: 20px;
  }

  #app-trading-coininfo-content {
    display: flex;
    align-items: center;
    padding: 30px 20px 0px 20px;

    span:nth-child(2) {
      padding-left: 20px;
    }

    span:nth-child(3) {
      padding-left: 40px;

      ul li:nth-child(1) {
        font-size: 18px;
        
        span {
          color: $trading-coininfo-text-sub-color;
          font-size: 15px;
        }
      }

      ul li:nth-child(2) {
        font-size: 20px;
        padding-left: 60px;
        font-weight: bold;
      }
    }

    span:nth-child(4) {
      padding-left: 20px;
    }
  }

  #trading-coininfo-value-text-1-span {
    padding-left: 0px !important;

    h6 {
      display: inline;

      &:nth-child(1) {
        font-size: 18px;
      }

      &:nth-child(2) {
        font-size: 20px;
        padding-left: 10px;
      }

      &:nth-child(3) {
        font-size: 20px;
        padding-left: 15px;
      }
    }
  }

  #trading-coininfo-value-text-1 {
    font-size: 34px;
    font-weight: bold;
    color: $trading-coininfo-value-color;
  }
}

@media (min-width: 360px) and (max-width: 640px) {
  #app-trading-coininfo-holder {
    height: 105px;
    margin-bottom: 20px;
  }

  #app-trading-coininfo-content {
    display: flex;
    align-items: center;
    padding: 30px 20px 0px 20px;

    span:nth-child(2) {
      padding-left: 20px;
    }

    span:nth-child(3) {
      padding-left: 40px;

      ul li:nth-child(1) {
        font-size: 18px;
          
        span {
          color: $trading-coininfo-text-sub-color;
          font-size: 15px;
        }
      }

      ul li:nth-child(2) {
        font-size: 20px;
        padding-left: 60px;
        font-weight: bold;
      }
    }
    
    span:nth-child(4) {
      padding-left: 20px;
    }
  }

  #trading-coininfo-value-text-1-span {
    padding-left: 0px !important;

    h6 {
      display: inline;

      &:nth-child(1) {
        font-size: 18px;
      }

      &:nth-child(2) {
        font-size: 20px;
        padding-left: 10px;
      }

      &:nth-child(3) {
        font-size: 20px;
        padding-left: 15px;
      }
    }
  }

  #trading-coininfo-value-text-1 {
    font-size: 34px;
    font-weight: bold;
    color: $trading-coininfo-value-color;
  }
}

.debugger {
  border: 1px solid red;
}