/*
  exchange info stylesheet
*/
@import '../libs/_colors.scss';

@media (min-width: 641px) and (max-width: 767px) {
  #app-trading-exchangeinfo-holder {
    height: 40px;
    border-top: 1px solid $trading-exchangeinfo-border-color;
  }

  #app-trading-exchangeinfo-content {
    padding: 10px 20px 10px 20px;
  }

  ul li h1 {
    font-size: 15px;
    display: inline;
  }

  ul li:nth-child(2) {
    padding-left: 35px;
  }

  ul li span h6 {
    display: inline;

    &:nth-child(1) {
      font-size: 15px;
      padding-left: 15px;
    }

    &:nth-child(2) {
      font-size: 11.5px;
    }
  }
}

@media (min-width: 360px) and (max-width: 640px) {
  #app-trading-exchangeinfo-holder {
    height: 40px;
    border-top: 1px solid $trading-exchangeinfo-border-color;
  }

  #app-trading-exchangeinfo-content {
    padding: 10px 20px 10px 20px;
  }

  ul li h1 {
    font-size: 15px;
    display: inline;
  }

  ul li:nth-child(2) {
    padding-left: 35px;
  }

  ul li span h6 {
    display: inline;

    &:nth-child(1) {
      font-size: 15px;
      padding-left: 15px;
    }

    &:nth-child(2) {
      font-size: 11.5px;
    }
  }
}

.debugger {
  border: 1px solid red;
}