/*
  trading menu stylesheet
*/
@import '../libs/_colors.scss';

.active {
  color: $trading-menu-link-color-selected !important;
}

@media (min-width: 641px) and (max-width: 767px) {
  #trading-tradingmenu-holder {
    height: 59px;
    background-color: $trading-menu-background-color;
  }
  
  #trading-tradingmenu-content {
    padding: 0px 20px 0px 20px;
  }

  ul li {
    padding: 15px 0px 10px 55px;

    a {
      color: $trading-menu-link-color-unselected;
      font-size: 22px;

      & .active {
        color: $trading-menu-link-color-selected;
      }
    }

    &:nth-child(1) {
      padding-left: 20px !important;
    }
  }
}

@media (min-width: 360px) and (max-width: 640px) {
  #trading-tradingmenu-holder {
    height: 59px;
    background-color: $trading-menu-background-color;
  }
  
  #trading-tradingmenu-content {
    padding: 0px 20px 0px 20px;
  }

  ul li {
    padding: 15px 0px 10px 55px;

    a {
      color: $trading-menu-link-color-unselected;
      font-size: 22px;

      & .active {
        color: $trading-menu-link-color-selected;
      }
    }

    &:nth-child(1) {
      padding-left: 20px !important;
    }
  }
}

.debugger {
  border: 1px solid red;
}