/*
  exchange base style
*/
@import '../libs/_colors.scss';

@media (min-width: 641px) and (max-width: 767px) {
  #extra-colored-space {
    height: 15px;
    background-color: $extra-background-color;
  }

  #extra-colored-space {
    height: 15px;
    background-color: $extra-background-color;
  }
}

@media (min-width: 360px) and (max-width: 640px) {
  #extra-colored-space {
    height: 15px;
    background-color: $extra-background-color;
  }

  #extra-colored-space {
    height: 15px;
    background-color: $extra-background-color;
  }
}

.debugger {
  border: 1px solid red;
}