/*
  exchange base style
*/
@import '../libs/_colors.scss';

#exchange-searchbar-row {
  height: 60px;
  border-bottom: 2px solid $exchange-searchbar-color;
}

#exchange-searchbar-icon {
  color: $exchange-searchbar-color;
}

.form-control::-webkit-input-placeholder { color: $exchange-searchbar-color; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: $exchange-searchbar-color; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: $exchange-searchbar-color; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: $exchange-searchbar-color; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: $exchange-searchbar-color; }  /* Microsoft Edge */

#extra-colored-space {
  height: 15px;
  background-color: $extra-background-color;
}

.input-group-text {
  border: none;
  background-color: transparent !important;
}

.form-control {
  border: none;
}

@media (min-width: 641px) and (max-width: 767px) {
  
}

@media (min-width: 360px) and (max-width: 640px) {
  
}

.debugger {
  border: 1px solid red;
}