/*
  exchange tickerbar stylesheet
*/
@import '../libs/_colors.scss';

@media (min-width: 641px) and (max-width: 767px) {
  #exchange-tickerbar-holder {
    height: 95px;
    background-color: $exchange-tickerbar-background-color;
  }

  #exchange-tickerbar-content {
    padding: 22px 20px 22px 20px;

    ul li {
      margin: 0px !important;
    }

    ul li h6 {
      margin-bottom: 0px;
    }
  }

  .exchange-tickerbar-label {
    color: $exchange-tickerbar-label-color;
    font-size: 19px;
    text-align: left;
  }

  .exchange-tickerbar-label-value {
    font-size: 19px;
    text-align: right;
    padding-right: 50px;
  }

  .exchange-tickerbar-bt {
    color: $exchange-tickerbar-negative-value-color;
  }
}

@media (min-width: 360px) and (max-width: 640px) {
  #exchange-tickerbar-holder {
    height: 95px;
    background-color: $exchange-tickerbar-background-color;
  }

  #exchange-tickerbar-content {
    padding: 22px 20px 22px 20px;

    ul {
      width: 100%;
      display: table;
      table-layout: fixed;
    }
    
    ul li {
      margin: 0px !important;
      display: table-cell;
    }

    ul li h6 {
      margin-bottom: 0px;
    }
  }

  .exchange-tickerbar-label {
    color: $exchange-tickerbar-label-color;
    font-size: 19px;
    text-align: left;
  }

  .exchange-tickerbar-label-value {
    font-size: 19px;
    text-align: right;
    padding-right: 50px;
  }

  .exchange-tickerbar-bt {
    color: $exchange-tickerbar-negative-value-color;
  }

}

.debugger {
  border: 1px solid red;
}
