/*
  customer service stylesheet
*/
@import '../libs/_colors.scss';

.fa {
  color: $customerservice-icon-color;
}

@media (min-width: 640px) and (max-width: 767px) {
  #customer-service-header-row {
    height: 55px;
  }

  #customer-service-header {
    color: #000000;
    font-size: 20px;
  }

  .customer-service-link-text {
    font-size: 18px;
    padding: 25px 20px;
  }

  #customer-service-link-row {
    height: 122px;
  }

  .col-4:nth-child(-n+2) {
    border-right: 1px solid $customerservice-divider-color;
  }
}

@media (min-width: 415px) and (max-width: 639px) {
  #customer-service-header-row {
    height: 55px;
  }

  #customer-service-header {
    color: #000000;
    font-size: 20px;
  }

  .customer-service-link-text {
    font-size: 18px;
    padding: 25px 20px;
  }

  #customer-service-link-row {
    height: 122px;
  }

  .col-4:nth-child(-n+2) {
    border-right: 1px solid $customerservice-divider-color;
  }
}

@media (min-width: 360px) and (max-width: 414px) {
  #customer-service-header-row {
    height: 55px;
  }

  #customer-service-header {
    color: #000000;
    font-size: 18px;
  }

  .customer-service-link-text {
    font-size: 13px;
    padding: 25px 0;
  }

  .customer-service-link-img {
    height: 30px;
    width: 30px;
  }

  #customer-service-link-row {
    height: 122px;
    .col-4 {
      max-width: 29.333333% !important
    }
  }

  .col-4:nth-child(-n+2) {
    border-right: 1px solid $customerservice-divider-color;
  }
}

@media (min-width: 320px) and (max-width: 359px) {
  #customer-service-header-row {
    height: 55px;
  }

  #customer-service-header {
    color: #000000;
    font-size: 18px;
  }

  .customer-service-link-text {
    font-size: 13px;
    padding: 25px 0;
  }

  .customer-service-link-img {
    height: 30px;
    width: 30px;
  }

  #customer-service-link-row {
    height: 122px;
    .col-4 {
      max-width: 29.333333% !important
    }
  }

  .col-4:nth-child(-n+2) {
    border-right: 1px solid $customerservice-divider-color;
  }
}

.debugger {
  border: 1px solid red;
}