/*
  forgot password email stylesheet
*/
@import '../libs/_colors.scss';

#forgotpassword-email-holder {
  padding: 0px 20px 0px 20px;
}

#forgotpassword-email-title-section {
  margin-top: 55px;
}

#forgotpassword-email-title {
  font-size: 28px;
  color: $forgotpassword-text-color;
}

#forgotpassword-email-field-section {
  margin-top: 30px;

  input {
    width: 100%;
    height: 69px;
    font-size: 20px;
    padding-left: 28px;

    &::placeholder {
      font-weight: bold;
    }
  }
}

#forgotpassword-email-button-section {
  margin-top: 45px;
}

#forgotpassword-email-submit-button {
  font-size: 22.5px;
  width: 100%;
  height: 70px;
  border-radius: 0px;
  font-weight: bold;
  background-color: $forgotpassword-emailform-button-background-color;
  color: $forgotpassword-emailform-button-text-color;
}

#forgotpassword-message-email-section {
  margin-top: 50px;
}

#forgotpassword-message-email {
  font-size: 28px;
  color: $forgotpassword-email-color;
}

#forgotpassword-message-sentence-section {
  margin-top: 43px;

  h6 {
    font-size: 22px;
    font-weight: bold;
  }

  h6:nth-child(1) {
    font-size: 22px;
  }

  h6:nth-child(2) {
    font-size: 18px !important;
    color: $forgotpassword-message-text-color;
  }

  #forgotpassword-message-sentence-3, #forgotpassword-message-sentence-4 {
    margin-top: 45px;
  }

  #forgotpassword-message-sentence-5 {
    margin-top: 48px;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  #forgotpassword-email-holder {
    padding: 0px 20px 0px 20px;
  }

  #forgotpassword-email-title-section {
    margin-top: 55px;
  }

  #forgotpassword-email-title {
    font-size: 28px;
    color: $forgotpassword-text-color;
  }

  #forgotpassword-email-field-section {
    margin-top: 30px;

    input {
      width: 100%;
      height: 69px;
      font-size: 20px;
      padding-left: 28px;

      &::placeholder {
        font-weight: bold;
      }
    }
  }

  #forgotpassword-email-button-section {
    margin-top: 45px;
  }

  #forgotpassword-email-submit-button {
    font-size: 22.5px;
    width: 100%;
    height: 70px;
    border-radius: 0px;
    font-weight: bold;
    background-color: $forgotpassword-emailform-button-background-color;
    color: $forgotpassword-emailform-button-text-color;
  }

  #forgotpassword-message-email-section {
    margin-top: 50px;
  }

  #forgotpassword-message-email {
    font-size: 28px;
    color: $forgotpassword-email-color;
  }

  #forgotpassword-message-sentence-section {
    margin-top: 43px;

    h6 {
      font-size: 22px;
      font-weight: bold;
    }

    h6:nth-child(1) {
      font-size: 22px;
    }

    h6:nth-child(2) {
      font-size: 18px !important;
      color: $forgotpassword-message-text-color;
    }

    #forgotpassword-message-sentence-3, #forgotpassword-message-sentence-4 {
      margin-top: 45px;
    }

    #forgotpassword-message-sentence-5 {
      margin-top: 48px;
    }
  }
}

@media (min-width: 540px) and (max-width: 639px) {
  #forgotpassword-email-holder {
    padding: 0px 20px 0px 20px;
  }

  #forgotpassword-email-title-section {
    margin-top: 55px;
  }

  #forgotpassword-email-title {
    font-size: 28px;
    color: $forgotpassword-text-color;
  }

  #forgotpassword-email-field-section {
    margin-top: 30px;

    input {
      width: 100%;
      height: 69px;
      font-size: 20px;
      padding-left: 28px;

      &::placeholder {
        font-weight: bold;
      }
    }
  }

  #forgotpassword-email-button-section {
    margin-top: 45px;
  }

  #forgotpassword-email-submit-button {
    font-size: 22.5px;
    width: 100%;
    height: 70px;
    border-radius: 0px;
    font-weight: bold;
    background-color: $forgotpassword-emailform-button-background-color;
    color: $forgotpassword-emailform-button-text-color;
  }

  #forgotpassword-message-email-section {
    margin-top: 50px;
  }

  #forgotpassword-message-email {
    font-size: 28px;
    color: $forgotpassword-email-color;
  }

  #forgotpassword-message-sentence-section {
    margin-top: 43px;

    h6 {
      font-size: 22px;
      font-weight: bold;
    }

    h6:nth-child(1) {
      font-size: 22px;
    }

    h6:nth-child(2) {
      font-size: 18px !important;
      color: $forgotpassword-message-text-color;
    }

    #forgotpassword-message-sentence-3, #forgotpassword-message-sentence-4 {
      margin-top: 45px;
    }

    #forgotpassword-message-sentence-5 {
      margin-top: 48px;
    }
  }
}

@media (min-width: 414px) and (max-width: 539px) {
  #forgotpassword-email-holder {
    padding: 0px 20px 0px 20px;
  }

  #forgotpassword-email-title-section {
    margin-top: 55px;
  }

  #forgotpassword-email-title {
    font-size: 25px;
    color: $forgotpassword-text-color;
  }

  #forgotpassword-email-field-section {
    margin-top: 30px;

    input {
      width: 100%;
      height: 69px;
      font-size: 17px;
      padding-left: 28px;

      &::placeholder {
        font-weight: bold;
      }
    }
  }

  #forgotpassword-email-button-section {
    margin-top: 45px;
  }

  #forgotpassword-email-submit-button {
    font-size: 19.5px;
    width: 100%;
    height: 70px;
    border-radius: 0px;
    font-weight: bold;
    background-color: $forgotpassword-emailform-button-background-color;
    color: $forgotpassword-emailform-button-text-color;
  }

  #forgotpassword-message-email-section {
    margin-top: 50px;
  }

  #forgotpassword-message-email {
    font-size: 25px;
    color: $forgotpassword-email-color;
  }

  #forgotpassword-message-sentence-section {
    margin-top: 43px;

    h6 {
      font-size: 19px;
      font-weight: bold;
    }

    h6:nth-child(1) {
      font-size: 19px;
    }

    h6:nth-child(2) {
      font-size: 15px !important;
      color: $forgotpassword-message-text-color;
    }

    #forgotpassword-message-sentence-3, #forgotpassword-message-sentence-4 {
      margin-top: 45px;
    }

    #forgotpassword-message-sentence-5 {
      margin-top: 48px;
    }
  }
}

@media (min-width: 320px) and (max-width: 413px) {
  #forgotpassword-email-holder {
    padding: 0px 20px 0px 20px;
  }

  #forgotpassword-email-title-section {
    margin-top: 55px;
  }

  #forgotpassword-email-title {
    font-size: 22px;
    color: $forgotpassword-text-color;
  }

  #forgotpassword-email-field-section {
    margin-top: 30px;

    input {
      width: 100%;
      height: 69px;
      font-size: 14px;
      padding-left: 16px;

      &::placeholder {
        font-weight: bold;
      }
    }
  }

  #forgotpassword-email-button-section {
    margin-top: 45px;
  }

  #forgotpassword-email-submit-button {
    font-size: 16.5px;
    width: 100%;
    height: 70px;
    border-radius: 0px;
    font-weight: bold;
    background-color: $forgotpassword-emailform-button-background-color;
    color: $forgotpassword-emailform-button-text-color;
  }

  #forgotpassword-message-email-section {
    margin-top: 50px;
  }

  #forgotpassword-message-email {
    font-size: 22px;
    color: $forgotpassword-email-color;
  }

  #forgotpassword-message-sentence-section {
    margin-top: 43px;

    h6 {
      font-size: 16px;
      font-weight: bold;
    }

    h6:nth-child(1) {
      font-size: 16px;
    }

    h6:nth-child(2) {
      font-size: 12px !important;
      color: $forgotpassword-message-text-color;
    }

    #forgotpassword-message-sentence-3, #forgotpassword-message-sentence-4 {
      margin-top: 45px;
    }

    #forgotpassword-message-sentence-5 {
      margin-top: 48px;
    }
  }
}

.debugger {
  border: 1px solid red;
}